/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//footerを最下部に固定する処理
body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}



// 共通
.nav{
    font-size: 12px;
}

.nav-tabs .nav-link.active{
    color: #f4623a;
}

.fa-trash-alt{
    color:#696969;
    font-size: 0.8em;
}

.btn-outline-secondary{
    background-color: #f4f4f4;
    color: #f4623a;
}

.subtitle{
    font-weight: bold;
}

.card{
    border-color:#f4623a;
}

.userIconWaku{
    border: 2px solid #f4623a;
    background-color: #f4f4f4;
}

.card-header{
    background-color:#f4623a;
}

.border-bottom{
    border-bottom: solid 2px #f4623a !important;
}

.balloon{
  margin: 30px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
//   align-items: center;
}

.says {
  max-width: 80%; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #99dddd;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
  padding: 5px;
//   align-items: center; 
}

.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}

.balloon .says:after {
  left: -26px;
  border-right: 22px solid #99dddd;
}

.says p{
  margin:8px 0 0 !important; 
}
.says p:first-child{
  margin-top:0 !important;
}
//以上


// コミュニティ一覧画面の右側
.starBotton{
    border: none; 
    background: none;
}

.fa-star{
    color: yellow;
    font-size: 0.8em;
}

.current-author{
    background-color:#e3f7be;
    font-size: 5px;
}

.author{
    font-size: 5px;
    color: white;
}
// 以上

// コミュニティ一覧画面の作成項目
.waku{
    position: relative;
    border: 2px solid #f4623a;
    border-radius: 5px;
    background-color:#f5f5f5;
}

.waku::before {
    content: '\f0c0';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    background-color: #f4f4f4;
    left: 24px;
    top: -12px;
}

.waku::after{
    content: "コミュニティ作成";
    font-weight: bold;
    position: absolute;
    background-color: #f4f4f4;
    color: #033;
    left: 44px;
    top: -12px;
    font-size:15px;
}
// 以上

// コミュニティ一覧画面の並び替え&検索項目
.waku2{
    position: relative;
    border: 2px solid #f4623a;
    border-radius: 5px;
    background-color:#f5f5f5;
}

.waku2::before{
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    background-color: #f4f4f4;
    left: 24px;
    top: -12px;
}

.waku2::after{
    content: "並び替え&検索";
    font-weight: bold;
    position: absolute;
    background-color: #f4f4f4;
    color: #033;
    left: 40px;
    top: -12px;
    font-size:15px;
}
// 以上


// レス一覧画面の投稿項目
.waku3{
    position: relative;
    border: 2px solid #f4623a;
    border-radius: 5px;
    background-color:#f5f5f5;
}

.waku3::before {
    content: '\f27a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    background-color: #f4f4f4;
    left: 24px;
    top: -12px;
}

.waku3::after{
    content: "投稿";
    font-weight: bold;
    position: absolute;
    background-color: #f4f4f4;
    color: #033;
    left: 40px;
    top: -12px;
    font-size:15px;
}
// 以上

// レス一覧画面の並び替え項目
.waku4{
    position: relative;
    border: 2px solid #f4623a;
    border-radius: 5px; 
    background-color:#f5f5f5;
}

.waku4::before {
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    background-color: #f4f4f4;
    left: 24px;
    top: -12px;
}

.waku4::after{
    content: "並び替え";
    font-weight: bold;
    position: absolute;
    background-color: #f4f4f4;
    color: #033;
    left: 40px;
    top: -12px;
    font-size:15px;
}
// 以上

// レス一覧画面の右側&個人画面レス一覧画面
.waku5{
    border: 2px solid #f4623a;
    border-radius: 5px;
    background-color:#f5f5f5;
    padding-bottom: 20px;
}
// 以上

@media (max-width:670px) {
    .PC{
        display: none;
    }
    .SF{
        display: block !important;
    }
}



/*.fa-link::before {*/
/*    content: "\f002";*/
/*    font-weight: 400;*/
/*    font-family: "FontAwesome";*/
/*    position: absolute;*/
/*    left: 20px;*/
/*    top: -23px;*/
/*    color: #313131;*/
/*    font-size: 125%;*/
/*    padding: 0 3px;*/
/*}*/
  
/*.fa-link::after {*/
/*  font-family: "Font Awesome 5 Free";*/
/*  content: "\f107";*/

/*  -webkit-font-smoothing: antialiased;*/
/*  display: inline-block;*/
/*  font-style: normal;*/
/*  font-variant: normal;*/
/*  text-rendering: auto;*/
/*  line-height: 1;*/
/*}*/


// .navstyle1{
//   font-weight:700;
//   color:rgba(255, 255, 255, 0.7)!important;
//   &:hover{
//     color:rgba(255, 255, 255, 1)!important;
//   }
// }



// .navstyle1:hover{
//   color:rgba(255, 255, 255, 1)!important;
// }

// .navstyle2{
//   font-weight:700;
//   font-size: 0.9rem;
//   color:rgba(255, 255, 255, 0.7);
//   &hover{
//     color:rgba(255, 255, 255, 1);
//   }
// }

// .navstyle2:hover{
//   color:rgba(255, 255, 255, 1);
// }

